[nomad_clients]
nnn.nnn.nnn.nnn
[nomad_clients:vars]
es_first=es1.nnn.nnn.nnn
es_other=es2.nnn.nnn.nnn

[nomad_clients:children]
elasticsearch_nomad_clients

[elasticsearch_nomad_clients]
es1.nnn.nnn.nnn
es2.nnn.nnn.nnn
es3.nnn.nnn.nnn

[nomad_servers]
nnn.nnn.nnn.nnn
nnn.nnn.nnn.nnn
nnn.nnn.nnn.nnn

